h1{
    color: white;
}

#left-col{
    /* margin-left: 20%; */

}



#center-col{
    background-color: grey;

}

#right-col{
    /* margin-right: 20%; */
  
}

header{
    margin-top: 30px;
    margin-bottom: 30px;
}

.prjcard{
    margin-top: 20px; 
    margin-bottom: 20px;
}
.container-fluid{
    background-color: grey;
}

